@media (max-width: 84.4rem) {
    html{
        font-size: 100%;
    }
    
}

@media (max-width: 64rem) {
    html{
        font-size: 90%;
    }

    .icon{
        padding: 15px 0;
    }

    .content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .content-3{
        grid-column: 1/3;
        justify-self: center;
    }
    .img1, .img2, .img3{
        width: 100%;
    }
    
}

@media (max-width: 26rem) {
    html{
        font-size: 80%;
    }

    .header{
        width: 70%;
    }

    .icon{
        padding: 15px 0;
    }

    .content{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        align-content: center;
    }

    .content-2{
        width: 100%;
    }

    .content-3{
        grid-column: 1/2;
    }

    .cont{
        margin: inherit auto;
    }

    .img1, .img2, .img3{
        width: 100%;
    }
}