* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    ---H-fs: 2.5rem;
    ---h-sz: 1.25rem;
    ---p: 1rem;
    ---p-clr: #9da3ae;
    ---con-bg: #121826;
    ---bg: #212936;
    ---icon-1: #fceed8;
    ---icon-2: #dee9fc;
    ---icon-3: #fbe5e6;
    ---H: #e5e7eb;
    ---h: #d2d5da;
    ---desc: #9da3ae;

}

body {
    background: var(---bg);
    height: 100vh;
}

.author-info {
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
    color: rgb(55, 65, 81);
}

.author-info a {
    font-family: cursive;
    text-decoration: none;
}

.main{
    background: url(./resources/Background_image@3x.png) no-repeat;
    background-size: cover;
    background-position: center;
    max-width: calc(316px * 3);
    width: 100%;
    margin: 0 auto;
}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.header{
    padding-top: 48px;
    text-align: center;
    width: 380px;
    margin: 0 auto;
}

.header h1{
    padding-bottom: 16px;
    font-size: var(---H-fs);
    color: var(---H);
}

.desc{
    font-size: 0.9rem;
    padding-bottom: 48px;
    color: var(---desc);
}

.icon{
    height: 52px;
    width: 52px;
    border-radius: 50%;
    text-align: center;
    padding: 8px;
    font-size: 1.5rem;
}

.icon1{
    background: var(---icon-1);
}
.icon2{
    background: var(---icon-2);
}
.icon3{
    background: var(---icon-3);
}

/* --------------content------------------- */
.content-2{
    margin: 0 48px;
}

.cont{
    max-width: 316px;
    color: var(---p-clr);
    background: var(---con-bg);
    border-radius: 10px;
    padding: 24px;
}

.cont h4{
    color: var(---h);
    padding: 1rem 0;
}

.img1, .img2, .img3{
    border-radius: 10px;
    margin-top: 1rem;
}